body{
	padding-top: 130px;
	color: #1d81b3 ;
}

. ecorpadrao{
	color: #1d81b3;
}

.navbar-default {
  background-color: #121112;
  border-color: #060607;
}
.navbar-default .navbar-brand {
  color: #1d81b3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eb9326;
}
.navbar-default .navbar-text {
  color: #1d81b3;
}
.navbar-default .navbar-nav > li > a {
  color: #1d81b3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eb9326;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eb9326;
  background-color: #121112;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eb9326;
  background-color: #121112;
}
.navbar-default .navbar-toggle {
  border-color: #060607;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #121112;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1d81b3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #121112;
}
.navbar-default .navbar-link {
  color: #1d81b3;
}
.navbar-default .navbar-link:hover {
  color: #eb9326;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #1d81b3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eb9326;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eb9326;
    background-color: #121112;
  }
}

.navbar-brand {
    float: left;
    font-size: 30px;
    height: 50px;
    line-height: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}