<!-- Script 1.0 - footer.html -->
	<!-- Final de conteúdo da pagina. --></div>	
	<br><br><br>
	</body>
	
	<div class="container-fluid col-xs-12 col-md-12">

		
			<div class="col-xs-5 col-md-6" align="right" >
			<div class="fb-share-button" data-href="http://www.carrent.hol.es" data-layout="button_count" data-mobile-iframe="false">| 	
			</div>			
			</div>

			<div class="col-xs-7 col-md-6" >
			<fb:like  href="http://www.carrent.hol.es" layout="standard" 
			show-faces="true" width="350" action="like" colorscheme="light" />	
			</div> 	
	</div>
	

</html>
